h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 250px;
    min-height: 250px;
    max-width: 500px;
    max-height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid black;
    padding: 0px;
}